<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacoes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="home" slot="end" class="ion-padding" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informacoes</ion-title>
    </ion-toolbar>
  </ion-header>




<!--  <ion-card>-->
<!--    <img [src]="dogImageUrl"/>-->
<!--    <ion-card-header>-->
<!--      <ion-card-title>Cachorro lindo</ion-card-title>-->
<!--    </ion-card-header>-->
<!--  </ion-card>-->

</ion-content>
