<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Informacões</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="home" slot="end" class="ion-padding" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informacões</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Pesquisar Notícias</h1>
  <p></p>

  <ion-item>
    <div class="container">

      <div class="row">
        <div class="col">
          <ion-input [(ngModel)]="query" placeholder="Digite um termo"></ion-input>
        </div>
        <div class="col text-end align-content-center">
          <ion-button (click)="fetchNews(query)" style="--background: #8e44ad">
            <ion-icon name="search-sharp" slot="end"></ion-icon>
            Pesquisar
          </ion-button>
        </div>
      </div>
    </div>
    <ion-button
      *ngIf="query"
      slot="end"
      (click)="clearSearch()"
      color="danger"
      fill="outline">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <div>
    <p></p>
    <h1>Pesquisar por Títulos e Fontes</h1>

    <div class="filters">

      <ion-select placeholder="Selecione um país" [(ngModel)]="filters.country">
        <ion-select-option value="us">Estados Unidos</ion-select-option>
        <ion-select-option value="br">Brasil</ion-select-option>
        <ion-select-option value="fr">França</ion-select-option>
        <ion-select-option value="de">Alemanha</ion-select-option>
        <ion-select-option value="it">Itália</ion-select-option>
        <ion-select-option value="gb">Reino Unido</ion-select-option>
        <ion-select-option value="in">India</ion-select-option>
        <ion-select-option value="jp">Japão</ion-select-option>
        <ion-select-option value="au">Austrália</ion-select-option>
        <ion-select-option value="ca">Canadá</ion-select-option>
      </ion-select>

      <ion-select placeholder="Selecione uma categoria" [(ngModel)]="filters.category">
        <ion-select-option value="business">Negócios</ion-select-option>
        <ion-select-option value="technology">Tecnologia</ion-select-option>
        <ion-select-option value="sports">Esportes</ion-select-option>
        <ion-select-option value="entertainment">Entretenimento</ion-select-option>
        <ion-select-option value="health">Saúde</ion-select-option>
        <ion-select-option value="science">Ciência</ion-select-option>
      </ion-select>

      <ion-input [(ngModel)]="filters.q" placeholder="Palavra-chave"></ion-input>

      <ion-button (click)="fetchHeadlines()" style="--background: #8e44ad">Pesquisar</ion-button>
      <ion-button fill="outline" color="danger" (click)="clearSearch()">Limpar Filtros</ion-button>

    </div>


    <div *ngIf="loading" class="ion-text-center loading">
      <p></p>
      <ion-spinner></ion-spinner>
      <p>Carregando notícias...</p>
    </div>
    <div *ngIf="searchAttempted && !loading && articles.length === 0 && headlines.length === 0" class="no-results">
      Nenhuma notícia encontrada
    </div>
    <div *ngIf="error" class="error">
      {{ error }}
    </div>

    <ion-button (click)="scrollToTop()" class="scroll-to-top"
                style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; --background: #8e44ad">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-button>

    <ion-list *ngIf="articles.length > 0">
      <ion-item *ngFor="let article of articles">
        <ion-thumbnail slot="start">
          <img [src]="article.urlToImage" alt="No image available">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ article.title }}</h2>
          <p>{{ article.description }}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="openArticle(article.url)">Leia mais</ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="headlines.length > 0">
      <ion-item *ngFor="let article of headlines">
        <ion-label>
          <h2>{{ article.title }}</h2>
          <p>{{ article.description }}</p>
        </ion-label>
        <ion-thumbnail slot="start">
          <img [src]="article.urlToImage" alt="Notícia">
        </ion-thumbnail>
        <ion-button fill="outline" slot="end" (click)="openArticle(article.url)">Leia mais</ion-button>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
