<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página de Cadastro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="home" slot="end" class="ion-padding" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-title class="ion-padding">Bem Vindo</ion-title>
      <p><strong style="color: #8e44ad">Cadastre</strong> sua conta</p>
    </div>

    <ion-card class="ion-padding">
      <form>
        <ion-item>
          <ion-icon class="ionIconInp" name="mail-outline"></ion-icon>
          <ion-input
            id="email"
            name="email"
            label="Email"
            labelPlacement="floating"
            placeholder="Insira um email válido"
            type="email"
            [(ngModel)]="user.email"
            required
          ></ion-input>
        </ion-item>

        <p></p>

        <ion-item>
          <ion-icon class="ionIconInp" name="lock-closed-outline"></ion-icon>
          <ion-input
            id="password"
            name="password"
            label="Senha"
            labelPlacement="floating"
            placeholder="Insira sua senha"
            type="password"
            [(ngModel)]="user.password"
            required
          ></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-padding" (click)="register(user)">
          Cadastrar
        </ion-button>

        <div class="ion-text-center">
          <p>Já é um usuário? <a [routerLink]="['/login']">Login</a></p>
        </div>

      </form>
    </ion-card>
  </div>
</ion-content>
