.center-container {
  height: 100%;
}

.input-large {
  font-size: 1.2rem;
}

.ionIconInp {
  font-size: 1.5rem;
  margin-right: 10px;
}

.input-large {
  font-size: 1.2rem;
}

a {
  color: #8e44ad;
  font-weight: bold;
}

ion-button {
  --background: #8e44ad;
}

