<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="center-container">
    <div class="ion-text-center">
      <ion-title>Bem Vindo</ion-title>
      <p>Faça Login para acessar sua conta</p>
    </div>

    <ion-card>
      <form>
        <div class="ion-padding">
          <ion-item>
            <ion-icon class="ionIconInp ion-padding" name="mail-outline"></ion-icon>
            <ion-input placeholder="Email" class="input-large" type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon class="ionIconInp ion-padding" name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Senha" class="input-large" type="password"></ion-input>
          </ion-item>
        </div>

        <div class="ion-text-center">
          <a [routerLink]="['/reset-password']" class="ion-padding">Esqueceu a senha?</a>
        </div>

        <ion-button expand="block" class="ion-padding" >
          Entrar
        </ion-button>

        <div class="ion-text-center">
          <p>Primeiro acesso? <a [routerLink]="['/register']">Cadastre-se</a></p>
        </div>

      </form>
    </ion-card>
  </div>

</ion-content>
