<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Página de Login</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-icon name="home" slot="end" class="ion-padding" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-title class="ion-padding">Bem Vindo</ion-title>
      <p>Faça <strong style="color: #8e44ad">Login</strong> para acessar sua conta</p>
    </div>

    <ion-card class="ion-padding">
      <form>
        <ion-item>
          <ion-icon class="ionIconInp" name="mail-outline"></ion-icon>
          <ion-input
            id="email"
            name="email"
            label="Email"
            labelPlacement="floating"
            placeholder="Insira seu email"
            type="email"
            required
            [(ngModel)]="user.email"
          ></ion-input>
        </ion-item>

        <p></p>

        <ion-item>
          <ion-icon class="ionIconInp" name="lock-closed-outline"></ion-icon>
          <ion-input
            id="password"
            name="password"
            label="Senha"
            labelPlacement="floating"
            placeholder="Insira sua senha"
            type="password"
            required
            [(ngModel)]="user.password"
          ></ion-input>
        </ion-item>

        <div class="ion-text-center ion-margin-top">
          <a [routerLink]="['/login', 'reset-password']" >Esqueceu a senha?</a>
        </div>

        <ion-button expand="block" class="ion-padding" (click)="login(user)">
          Entrar
        </ion-button>

        <div class="ion-text-center">
          <p>Primeiro acesso? <a [routerLink]="['/login', 'register']" >Cadastre-se</a></p>
        </div>

      </form>
    </ion-card>
  </div>

</ion-content>
