
<ion-icon name="menu" (click)="setOpen(true)" style="zoom:2.5"></ion-icon>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar class="custom-toolbar">
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-icon
            name="close"
            class="close-icon"
            (click)="setOpen(false)"
            style="zoom: 2">
          </ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <br>
      <div class="dark-mode-container">
        <div class="label-container">
          <ion-icon [name]="paletteToggle ? 'moon' : 'sunny'" class="icon-large"></ion-icon>
          <span style="font-size: 20px">
            {{ paletteToggle ? 'Modo Escuro' : 'Modo Claro' }}
          </span>
        </div>
        <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" class="custom-toggle"></ion-toggle>
      </div>

      <!--      <app-dark-toggle></app-dark-toggle>-->
    </ion-content>
  </ng-template>
</ion-modal>

