ion-title {
  font-size: 24px;
}

.close-icon {
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
}

.dark-mode-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

ion-toggle {
  flex-shrink: 0;
}

.custom-toggle {
  --handle-background: #8e44ad;
  --background-checked: rgba(142, 68, 173, 0.5);
  --handle-background-checked: #8e44ad;
  --background: rgba(0, 0, 0, 0.2);
}
