<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Redefinição de Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Redefinição de Senha</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div class="ion-text-center">
      <ion-title class="ion-padding">Redefinir Senha</ion-title>
      <p>Insira seu email para receber o código de verificação</p>
    </div>

    <ion-card class="ion-padding">
      <form>
        <ion-item>
          <ion-icon class="ionIconInp" name="mail-outline"></ion-icon>
          <ion-input
            id="email"
            name="email"
            label="Email"
            labelPlacement="floating"
            placeholder="Insira seu email"
            type="email"
            required
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-padding" (click)="resetPassword()">
          Enviar Código
        </ion-button>
      </form>

      <form *ngIf="verificationStep">
        <ion-item>
          <ion-icon class="ionIconInp" name="key-outline"></ion-icon>
          <ion-input
            id="code"
            name="code"
            label="Código de Verificação"
            labelPlacement="floating"
            placeholder="Insira o código"
            type="text"
            required
            [(ngModel)]="verificationCode"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon class="ionIconInp" name="lock-closed-outline"></ion-icon>
          <ion-input
            id="newPassword"
            name="newPassword"
            label="Nova Senha"
            labelPlacement="floating"
            placeholder="Insira sua nova senha"
            type="password"
            required
            [(ngModel)]="newPassword"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" class="ion-padding" (click)="confirmReset()">
          Redefinir Senha
        </ion-button>
      </form>

      <div class="ion-text-center">
        <a [routerLink]="['/login']">Voltar ao Login</a>
      </div>
    </ion-card>
  </div>
</ion-content>
